body {
    background-color: #ccc;
}

.content {
    width: 900px;
    background-color:white;
    margin: auto;
    padding: 16px;
}

table {
    width: 100%;
}

h1 {
   font-size: 20px; 
}

.testimoni {
    background-color:rgb(231, 52, 52);
    text-align: center;
    margin-top: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 12px;
    color: white;
}

#pencarian {
    width: 97%;
    margin-bottom: 1px;
    padding: 3px;
}

.socialmedia {
    background-color:rgb(224, 35, 35);
    text-align: left;
    
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 50px;
    padding-right: 12px;
    padding-left: 12px;
    color: white;
}